<% @page_title = "編集フォーム 管理者用" %>
<h2 class="pb-1">編集 管理者用</h2>

<center class="pb-2">
  <%= link_to '詳細', [:admins, @user] %> |
  <%= link_to '会員ページに戻る', admins_users_path %>
</center>

<%= render "page/errors", object: @user %>

<%= form_with(model: [:admins, @user], local: true,
      class: "pt-4 resistration_form shadow col-sm-9 col-md-6 col-lg-4") do |form| %>
  <%= render "page/user_form", form: form %>
<% end %>
