<% @page_title = "ニュースの編集 管理者用" %>
<h2 class="pb-1"><%= @page_title %></h2>

<%= render "page/errors", object: @article %>

<center class="py-2">
  <%= link_to "詳細", [:admins, @article] %> |
  <%= link_to "ニュース一覧", admins_articles_path %>
</center>

<%= form_with(model: [:admins, @article], local: true,
        class: "pt-4 mb-5 article_form shadow col-sm-8 col-md-8 col-lg-5") do |form| %>
  <%= render "form", form: form %>
  <div class="submit-actions pb-5">
    <%= form.submit %>
  </div>
<% end %>
